<div ng-include="'view/menu.html'"></div>

<div class="panel panel-success">
    <div class="panel-heading">
        Add Goal
    </div>
  <div class="panel-body">
        <a href='#/' class = "pull-right"><span class='glyphicon glyphicon-remove'></span></a>
        <div class="col-md-8">            
            <form>
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Target</span>
                    <input type="text" name="target" class="form-control" placeholder="Target" ng-model="target">
                </div>
                <br>
                <input type="range" name="allocation" min="0" max="100" ng-model="allocation" />
                <br>
                <button ng-click="submitTheForm()" class="btn btn-success">Add Goal</button>
            </form>
        </div>
  </div>
</div>