<div ng-include="'view/menu.html'"></div>

<div class="panel panel-success">
    <div class="panel-heading">
        Deposit Money
    </div>
  <div class="panel-body">
        <a href='#/' class = "pull-right"><span class='glyphicon glyphicon-remove'></span></a>
        <div class="col-md-8">            
            <form>
                <div class="input-group">
                    <span class="input-group-addon">Goal Name</span>
                    <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" disabled="{{true}}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Amount</span>
                    <input type="text" name="amount" class="form-control" placeholder="Amount" ng-model="amount">
                </div>
                <br>
                <button ng-click="submitDeposit()" class="btn btn-success">Deposit Money</button>
            </form>
        </div>
  </div>
</div>