<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Betterment</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" novalidate>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control" ng-model="email" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control" ng-model="password" autocomplete="off" >
        </div>
        <button type="submit" class="btn btn-success" ng-click="login()" >Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->  
  </div>
</nav>

<div class="jumbotron">
  <h1>Jumbotron heading</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p><a class="btn btn-lg btn-success" href="#/signup" role="button">Sign up today</a></p>
</div>