<div ng-include="'view/menu.html'"></div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Personal Account Overview</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Summary <span class="sr-only">(current)</span></a></li>
            <li><a href="#/fund/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Fund</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">OVERVIEW</div>
            <div class="col-md-4">
                Total Balance : {{total | currency}}
                <br>
                Total Earning : +{{total_earnings | currency}}
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
</div>

<div ng-repeat='fund in funds'>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">{{fund.name | uppercase}}</div>
                <div class="col-md-4">
                    Balance : {{fund.amount | currency}}
                    <br>
                    Risk : {{fund.allocation}}%
                    <br>
                    Total Earning : +{{fund.earning | currency}}
                </div>
                <div class="col-md-1">
                    <a href='#/edit/{{fund.id}}' class = "pull-right"><span class='glyphicon glyphicon-cog'></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
