<div ng-include="'view/menu.html'"></div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Personal Account Overview</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Summary <span class="sr-only">(current)</span></a></li>
            <li><a href="#/goal/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Goal</a></li>
        </ul>
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">Overview</div>
            <div class="col-md-4">
                Total Balance : {{total | currency}}
                <br>
                Total Earning : +{{total_earnings | currency}}
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
</div>

<div ng-repeat='goal in goals'>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7 capitalize">{{goal.name}}</div>
                <div class="col-md-4">
                    Current Balance :<br>
                    <a class="btn btn-success btn-xs" href='#/goal/deposit/{{goal.id}}'>Deposit</a> {{goal.balance | currency}}
                    <br>
                    Risk : {{goal.allocation}}%
                    <br>
                    Total Earning : +{{goal.earning | currency}}
                    <br>
                    Target : {{goal.target | currency}}
                </div>
                <div class="col-md-1">
                    <a href='#/edit/{{goal.id}}' class = "pull-right"><span class='glyphicon glyphicon-cog'></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
